body{
    background-image: url(img/FreeImagesUnsplash/alvin-engler-bIhpiQA009k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table {
    border-radius: 30px; 
    overflow: hidden; 
  }

  .card{
    border-radius: 15px;
    overflow:hidden;
  }