body {
  background-image: url(img/FreeImagesUnsplash/alvin-engler-bIhpiQA009k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.table {
  border-radius: 30px;
  overflow: hidden;
}

.card {
  border-radius: 15px;
  overflow: hidden;

}

.card img {
  height: 200px;
  /* altura fixa para todas */
  object-fit: cover;
  /* mantém proporção e corta excesso */
}

#dataAnalysisImg {
  height: 400px;
  object-fit: cover;
}

a :hover {
  color: black;
  background-color: yellow;

}

.j0onl :hover {
  color: black;
  background-color: white;
}